# ------------------------
# Python cache
# ------------------------
__pycache__/
*.pyc

# ------------------------
# Virtual environment
# ------------------------
.venv/

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# Jupyter
# ------------------------
*.ipynb

# ------------------------
# IDE files
# ------------------------
.vscode/

# ------------------------
# Ignore everything in 'examples' folder
# ------------------------
examples/

# Keep instructions.txt inside examples
!examples/instructions.txt

# ------------------------
# Sensitive files
# ------------------------
api_keys.py

# ------------------------
# Ignore everything in 'data' folder
# ------------------------
data/